<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>疫情监控</title>

        <link href="../static/css/main.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/worldMap.css">
        <script src="../static/js/jquery-3.6.0.min.js"></script>
        <script src="../static/js/echarts.min.js"></script>
        <script src="../static/js/world.js"></script>
        <script src="../static/js/worldMap.js"></script>

    </head>
    <body>
        <div id="title">全球疫情</div>
        <div id="time">时间</div>
        <div id="l1">左1</div>
        <div id="l2">左2</div>
        <div id="c1">
            <div class="num">222</div>
            <div class="num">333</div>
            <div class="num">444</div>
            <div class="num">555</div>
            <div class="txt">累计确诊</div>
            <div class="txt">剩余疑似</div>
            <div class="txt">累计治愈</div>
            <div class="txt">累计死亡</div>
        </div>
        <div id="c2"> </div>
        <div id="r1">右1</div>
        <div id="r2">右2</div>

        <script src="../static/js/worldMap.js"></script>
        <script src="../static/js/controller.js"></script>
    </body>
</html>